* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: #6dc0fb;
  display: flex;
  flex-direction: column;
}

.title {
display: inline;
padding: 1rem;
margin: 1rem 0;
justify-content: center;
text-align: center;
font-family: sans-serif;
text-transform: uppercase;
}

.title h1 {
  margin: 0.5rem;
}


.memory-game {
  width: 540px;
  height:540px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.33% - 10px) ;
  margin : 5px;
  position: relative;
  transform : scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}

.memory-card:active {
  transform: scale(.92);
  transition: transform .5s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}
.front-face, .back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: darkblue;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}
